// $base-color-dark: #5091cd;
// $base-color-light: #dae7f5;
// $base-color-intermediate: #7eaeda;
// $font-color: white;
// $item-font-color:#255583;

// $font-family: 'Aleo', serif;

$base-color-dark: black;
$base-color-light: dimgrey;
$base-color-intermediate: #272727;
$font-color: white;
$item-font-color:white;

$font-family: 'Aleo', serif;