@import "./app/utils/variables";

.menuWrapper{
    background:$base-color-light;
    height: -webkit-fill-available;
    color: white;
    
    
    > .menuLink{
        font-family: $font-family;
        font-size: 25px;
        margin-top: 15px; 
        cursor: pointer;
       
    }

    > .menuLinkActive{
        font-family: $font-family;
        font-size: 25px;
        margin-top: 15px; 
        cursor: pointer;
        color: red;
    }
}


.menuTitle{
    display: none;

    @media(min-width: 769px) and (max-width: 992px){
        display: grid;
        font-size: 60%;
    }

    @media (min-width: 993px) and (max-width: 1199px){
        display: grid;
        font-size: 75%;
    }

    @media(min-width:1200px){
        display: grid;
    }
}

