@import "./utils/variables";

.container .panel-heading.musicList-panel{
    background-color: $base-color-dark;
    color: $base-color-dark;
    font-family: $font-family;

    > .musicList-title{
        font-size: 55px;
    color: $font-color;
    font-weight: bolder;
    text-align: center;
    }

    > .musicList-subTitle{
        font-size: 25px;
    color: $font-color;
    font-weight: bolder;
    text-align: center;
    }
}

    
.container .panel-body.musicList-background{
    background-color: $base-color-light;

}